
<!DOCTYPE html>
<html>
<head>
    <title>Parallel Music Jobs</title>
    <link
        rel="stylesheet"
        href="{{ url_for('home.static', filename='css/home.css') }}"
    >
</head>
<body>



<section class="live-radio">
  <div class="radio-header">
    <div>
      <h1>AI Live Radio</h1>
      <p>Interactive AI Radio always playing 24/7.</p>
    </div>

  <div class="audio-card">
    <div class="audio-thumb">
      <button id="playBtn" class="play-btn" >
        ▶
      </button>
    </div>

    <div class="audio-meta">
      <h3>Live Stream</h3>
      <span id="nowPlaying">Now Playing</span>
    </div>

    <audio id="radioAudio"></audio>
  </div>


  <button class="request-btn">Submit a Request</button>

  <div class="request-modal" id="requestModal">
    <div class="request-box-wrapper">

      <!-- Main prompt row -->
      <div class="request-box">
        <input
          id="prompt"
          type="text"
          placeholder="R&B cover of a 2000s pop song"
          class="request-input"
        />

        <button class="lyrics-btn" type="button"> + Lyrics</button>
        <button class="generate-btn" type="button">Generate</button>

      </div>

      <!-- Lyrics textarea (hidden by default) -->
      <textarea
        id="lyrics"
        class="lyrics-input"
        placeholder="Enter custom lyrics here"
      ></textarea>

      <p id="errorMsg" class="error"></p>
      <button id="submitBtn" class="submit-btn" type="button">Submit</button>
    </div>
  </div>
</section>

<script src="{{ url_for('home.static', filename='js/home.js') }}"></script>
<script type="module" src="{{ url_for('home.static', filename='js/api/player.js') }}"></script>
<script src="{{ url_for('home.static', filename='js/api/create_song.js') }}"></script>
    
</body>
</html>
   
