
<!DOCTYPE html>
<html>
<head>
    <title>Parallel Music Jobs</title>
    <link
        rel="stylesheet"
        href="{{ url_for('home.static', filename='css/home.css') }}"
    >
</head>
<body>



<section class="live-radio">
  <div class="radio-header">
    <div>
      <h1>AI Live Radio</h1>
      <p>Interactive AI Radio always playing 24/7.</p>
    </div>

  <div class="audio-card">
    <div class="audio-thumb">
      <button id="playBtn" class="play-btn" >
        ▶
      </button>
    </div>

    <div class="audio-meta">
      <h1>Live Stream</h1>
      <span id="nowPlaying">Now Playing</span>
    </div>

    <audio id="radioAudio"></audio>
  </div>


  <button id="requestBtn" class="request-btn">Submit a Request</button>


  <div class="queue-status" id="queueStatus">
  </div>

  <div class="request-modal" id="requestModal">
    <div class="request-box-wrapper">
      <button class="modal-close-btn" aria-label="Close">
        ×
      </button>

      <h1>Create Song</h1>
      <p>Fill out the form below and your song will be created and automatically be added to the playlist's queue.</p>
      <!-- Main prompt row -->
      <div class="request-box">
        <input
          id="prompt"
          type="text"
          placeholder="R&B cover of a 2000s pop song"
          class="request-input"
          autocomplete="off"
        />

        <button class="lyrics-btn" type="button"> + Lyrics</button>

      </div>

      <!-- Lyrics textarea (hidden by default) -->
      <textarea
        id="lyrics"
        class="lyrics-input"
        placeholder="Enter custom lyrics here"
      ></textarea>

      <p id="errorMsg" class="error"></p>
      <button id="submitBtn" class="submit-btn" type="button">Submit</button>
      <p id="submitError"></p>

      <div id="statusTimeline" class="status-timeline"></div>

      <div id="postSubmitActions" class="post-submit-actions hidden">
        <!-- <button id="newRequestBtn" class="secondary-btn">New Request</button> -->
        <button id="closeModalBtn" class="ghost-btn">Back</button>
      </div>

    </div>
  </div>
</section>

<script type="module" src="{{ url_for('home.static', filename='js/home.js') }}"></script>
<!-- <script type="module" src="{{ url_for('home.static', filename='js/api/player.js') }}"></script> -->
<script type="module" src="{{ url_for('home.static', filename='js/api/create_song.js') }}"></script>
    
</body>
</html>
   
